.wrapper { width:100%; }
.top { height:60px;background-color: #CCCCCC; }
.top-toc  { float:left;}
.top-logo { float: right;}
.header-text {
	clear:both;
	padding:0 0.0em;
	font-weight:bold;
}
h3{
	margin-bottom: 0;
}
.col-left   {float:left;margin-right:5px;}
.col-right  {float:right;margin-left:5px;}
.col-center {margin:0 10px;padding:0.5em;}
.col-center h3 {text-align:center;}
.video { 
	max-width:640px;
	padding: 1em
}
.description {
	padding:0em;
	margin-left: 10px;
	line-height: 1.20em
}
.no-navi img {display: none;}
.footer {clear:both;font-size:x-small}
